* {
  box-sizing: border-box;
  font-family: 'Assistant', sans-serif;
  padding: 0;
  margin: 0;
}

h1 {   
text-align: center;
padding: 20px;
}

body {
  background: url("https://images.unsplash.com/photo-1517483000871-1dbf64a6e1c6");
  // background-color: linear-gradient(268deg, rgb(123, 185, 252), transparent);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
background-color: #003a68;
color: #fff;
height: 40px;

p {

padding: 8px 0;
display: flex;
justify-content: space-between;
}

span {
  display: flex;
  justify-content: space-between;
}
}

.search-loc {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 45px;


  .form-control {
    width: 200px;
    height: 33px;
    border: 1px solid;
    padding: 5px;
    margin-right: 5px;
    border-radius: 2px;
}

  .btn-search {
    width: 100px;
    height: 35px;
    background-color: #003a68;
    color: #fff;
    border-radius: 5px;
    border: solid;

    &:hover {
      color: #fff;
      background-color: #24a1d1;
      transform: scale(1.1);
    }
  }
}

.current-card {
  @media (min-width: 992px) {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}}

.forecast-card {
  @media (min-width: 992px) {
display: flex;
align-items: center;
justify-content: center;
}
}